<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Управление пользователями</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <h4 class="text-white"><p class="h4" th:text="'Logged in: '+${loginUN}+': with role - Admin'"></p></h4>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/admin/">Admin Homepage</a>
        </li>
    </ul>
</nav>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="/admin/" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/user/" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>

        </div>

    </div>
    <div class="col-9">
        <div class="p-3 mb-2 bg-light text-dark">
            <p class="h2">Admin panel </p>
            <p class="h2"></p>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="list">User table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="new">New user</a>
                </li>
            </ul>
            <div class="card-footer">
                <h4 class="text-black">All users list</h4>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Возраст</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${listUser}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getName()}"></td>
                    <td th:text="${user.getAge()}"></td>
                    <td th:text="${user.getRoles()}"></td>
                    <td><a th:href="@{edit/{id}(id=${user.id})}" class="btn btn-success" role="button" >Edit</a></td>



<td>
    <a data-toggle="modal" data-target="#modal-warning"
       th:attr="data-target='#modal-warning'+${user.id }" class="btn btn-danger" role="button">Delete</a>

    <div class="modal modal-warning fade in" th:id="modal-warning+${user.id }">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete User</h5>
                </div>
                <div class="modal-body">
                    <h3>Are you sure want to delete this user?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-outline" th:href="@{delete/{id}(id=${user.id})}"><i
                            class="fa fa-check"></i>&nbsp;Yes</a>
                </div>
            </div>
        </div>
    </div>
</td>

</tr>

</tbody>
</table>
</div>
</div>


</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
